body {
    font-size:16px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    margin:0px;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display','sarif';
}
ul {
    list-style-type: none;
    font-size: 12px;
}
.header_desktop,#header_nav_list{
    display :flex;
    flex-direction : row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
.header_desktop {
    margin:2.5% 10%;
    position: relative;
}

.nav_list {
    color: gray;
    margin-left: 15px;
}
.nav_list:hover{
    color:hsl(256, 26%, 20%);
}

.view_plans{
    padding: 4px 10px 4px 10px;
    background: none;
    border: 2px solid hsl(256, 26%, 20%);
    border-radius: 0px;
    text-decoration: none;
    color: hsl(256, 26%, 20%);
    margin-left: 15px;
}
#view_plans_header:hover {
    color:white;
    background-color: hsl(256, 26%, 20%);
}

.header_mobile {
    display: none;
}
.close {
    background:none;
    border:none;
    display: none;
}

@media only screen and (max-width: 650px){
  .header_desktop {
      display: none;
  }
  .header_mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:0px 10%;
      margin: 25px 0%;
      position: relative;
  }

  #nav_mobile {
      display:flex;
      margin-top: 5px;
  }

  #header_nav_list_mobile {
      display:none;
      position: absolute;
      top:54px;
      left:0%;
      z-index: 10;
      background-color:  hsl(270, 9%, 17%);
      text-align: center;
      width: 100%;
      padding: 10% 0 0 0;      
  }
  .nav_list_mobile {
      display: block;
      font-size: 17px;
      color:white;
      line-height: 50px;
      width:80%;
      margin:auto;   
  }

  .nav_list_mobile:hover {
    border:1px solid white;
}
  #header_nav_list_mobile > svg{
      width: 100%;
      padding:0px;
      padding-top: 10%; 
      
  }
  .hamburger-button{
      background: transparent;
      border: none;
      cursor:pointer;
  }
}

 


#intro {
background-color: hsl(256,26%,20%);
display:flex;
color:white;
}
#text_content {
    display:flex;
    flex-direction: column;   
    margin: 10%;
    margin-bottom:5%;
    max-width: 40%;
    word-wrap: break-word;
    
}
#text_content > hr {
    color:white;
    width: 40%;
    margin:0px;
}
#text_content > h1 {
    font-size: 5vw;
}
#text_content > p {
    font-size:1.5vw;
}
#view_plans_section {
    font-size: 1vw;
    color:white;
    border-color: white;
    max-width:16%;
    margin:0px;
    text-align: center;
}
#view_plans_section:hover {
   color:hsl(256,26%,20%);
   background-color: white;
}

#introduction {
    position: relative;
    margin:0px;
}

#intro_image_people {
    max-width:50%;
    max-height:80%;
    position: absolute;
    top: 15%; 
    left:50%;
}
#intro_image_right {
    max-width: 50%;
    max-height:50%;
    position: absolute;
    top: 0%;
    right:0%;
}
#intro_image_right_mobile {
    display:none;
}

#intro_image_left {
    max-width: 30%;
    max-height:40%;
    position: absolute;
    top:55%;
}

#intro_image_left_mobile {
    display:none;
}

#bottom_hr {
    color:grey;
    margin:20% 0% 10% 10%;
    width: 15%;
}

@media only screen and (max-width: 650px){
    #introduction {
          display: flex;
          flex-direction: column;
        }
        hr {
            display: none;
        }
     #intro_image_people {
         max-width: 100%;
         max-height: 100%;
         height: auto;
         position: relative;
         left:0px;
     }
     #text_content {
        display:flex;
        flex-direction: column;   
        margin: 10%;
        margin-bottom:20%;
        max-width: 100%;
        word-wrap: normal;
        align-items: center;
        text-align: center; 
        position: relative;
    }
    #text_content > h1 {
        font-size: 30px;
    }
    #text_content > p {
        font-size:13px;
    }

    #view_plans_section {
        font-size: 10px;
        max-width:30%;
        text-align: center;
    }

    #intro_image_right {
        display: none;
    }
    #intro_image_left {
        display: none;
    }

    #intro_image_right_mobile {
        display: inline;
        max-width: 30%;
        max-height: auto;
        position: absolute;
        top:85%;
        right:0%;
    }

    #intro_image_left_mobile {
        display: inline;
        max-width: 50%;
        max-height: auto;
        position: absolute;
        top:0%;
        left:0%;
        margin:-13%;
    }


}










#bio {
    margin: 10%;
    margin-top: 5%;
}

#bio>h1{
    font-size: 40px;
}
#bio_content { 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 650px) {
    #bio {
        text-align: center;
        margin-bottom: 20%;
        margin-top:40%;
    }
    #bio_content {
        flex-direction: column;
        text-align: center;
    }
}



#how_we_work {
    color:white;
    background-color: hsl(256,26%,20%);
   
    max-width: 80%;
    margin-left: 10%;
   position: relative;
}
#how_we_work > div{
    display: flex;
    flex-direction:row;

}
#how_we_work > div > h1 {
    font-size: 4vw;
    max-width: 48%;
    margin: 5% 10%;
}
#how_we_work_link {
    font-size: 1.5vw;
    padding: 5px 20px;
    background: transparent;
    color:white;
    text-decoration: none;
    border: 2px white solid;
    align-self: center;
   
    z-index: 1;
}
#how_we_work_link:hover{
    color:hsl(256, 26%, 20%);
    background-color: white;
}

#how_we_work > img {
    max-width: 60%;
    height: 100%;
    position: absolute;
    top:0px;
    right: 0px;
    overflow: hidden;
    z-index: 0;
}
#how_we_work_pattern_mobile {
    visibility: hidden;
}

@media only screen and (max-width: 650px){
     #how_we_work > div{
         display: flex;
         flex-direction: column; 
         align-items: center;
         text-align: center;
         
     }
     #how_we_work > div > h1 {
         font-size: 17px;
     }

     #how_we_work_link {
         font-size:10px;
         margin-bottom: 20px;
     }

     #how_we_work_pattern_desktop {
         visibility: hidden;
     }
     #how_we_work_pattern_mobile {
         visibility: visible;
     }
}




footer {
    margin-top:20%;
    background-color: cornsilk;
    position: relative;
}
#social_links{
     height: 100px;
     margin-left:10%;
     margin-right:10%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     
    
}
footer > hr {
    margin: 5% 10%;
}
#footer_logo {
    z-index: 1;
}

.social {
    margin-left:20px;
}
.social:hover{
    fill:hsl(256,26%,20%);
}

#useful_footer_links {
    display: flex;
    flex-direction: row;
    margin-left:10%;
    margin-right: 10%;
    justify-content:space-between;
    color:grey;
    font-size: 15px;;
}

.footer_links { 
   color:black;
   line-height: 30px;
   font-size: 15px;
   display: flex;
   flex-direction: column;
}
.footer_links:hover{
    text-decoration: underline;
}

#footer_image {
    position: absolute;
    top:0%;
    max-width: 60%;
    height: auto;
}

#footer_image_mobile{
    max-width: 100%;
    height: auto;
    visibility: hidden;
}

@media only screen and (max-width:650px){
    #social_links {
        display: flex;
        flex-direction: column;
    }
    footer > hr {
        display: block;
    }

    #useful_footer_links {
        display: block;
        text-align: center; 
    }

    .footer_links_all {
       margin: 10%;
    }

    #footer_image {
       visibility: hidden;
    }
    #footer_image_mobile {
        visibility: visible;
    }
}












