form{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
flex-direction: column;
width: 60%;
margin: auto;
background-color: hsl(256,26%,20%);
color: white;
line-height: 50px;
align-items: center;
padding: 20px 0 30px 0;

}

.textField {
    max-width: 70%;
    margin-bottom: 20px;
}

.label {
    padding-bottom: 10px;
}

.login {
    width: 75%;
    max-width: 245px;
    margin-bottom: 20px;
}

.registerlink {
    color:white;
}

.registerlink:hover {
    color: yellowgreen;
    text-shadow: 2px yellowgreen;
}